# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Ansible
*.retry

# SSH / certificates / secrets
*.key
*.pem
*.crt
*.p12
*.pfx
*.htpasswd

# OS / IDE
.DS_Store
.vscode/
.idea/
